{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Welcome to Homepage</h1>
    <a class="btn btn-primary shadow-sm p-3 rouded" href="/about">About</a><br>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>Name</th>
            <th>Subject</th>
        </tr>
        {% for studs in students %}
            <tr>
                <td>{{studs["name"]}}</td>
                <td>{{studs["subject"]}}</td>
                <td><a class="btn btn-outline-success">Edit</a></td>
                <td><a class="btn btn-outline-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
{% endblock %}